<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="io.leon.eclipseintegration.ui.category"
            class="io.leon.eclipseintegration.ui.leonwizard.LeonWizard"
            hasPages="true"
            icon="icons/leon16.gif"
            id="io.leon.eclipseintegration.ui.leonwizard"
            name="Leon Project"
            project="true">
      </wizard>
      <category
            id="io.leon.eclipseintegration.ui.category"
            name="Leon">
      </category>
   </extension>
   <extension
         id="leonnature"
         name="Leon Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="io.leon.eclipseintegration.ui.natures.LeonNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/leon8.gif"
            id="io.leon.eclipseintegration.ui.leonnatureimage"
            natureId="io.leon.eclipseintegration.ui.leonnature">
      </image>
   </extension>
   <extension
         id="proposals"
         point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="io.leon.eclipseintegration.ui.category"
            class="io.leon.eclipseintegration.ui.contentassist.LeonJavaScriptCompletionProposalComputer">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="io.leon.eclipseintegration.ui.toolbar"
               label="Leon">
            <command
                  commandId="io.leon.eclipseintegration.ui.newLeonProjectWizard"
                  icon="icons/leon16.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="io.leon.eclipseintegration.ui.leonwizard.NewLeonProjectWizard"
            commandId="io.leon.eclipseintegration.ui.newLeonProjectWizard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="io.leon.eclipseintegration.ui.category"
            id="io.leon.eclipseintegration.ui.newLeonProjectWizard"
            name="New Leon Project Wizard">
      </command>
      <category
            id="io.leon.eclipseintegration.ui.category"
            name="Leon">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="io.leon.eclipseintegration.ui.properties.LeonPropertyPage"
            id="io.leon.eclipseintegration.ui.preferences"
            name="Leon"
            selectionFilter="single">
         <filter
               name="open"
               value="true">
         </filter>
         <enabledWhen>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
         </enabledWhen>
         <filter
               name="nature"
               value="io.leon.eclipseintegration.ui.leonnature">
         </filter>
      </page>
   </extension>

</plugin>
