<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="io.leon.eclipseintegration.ui.category"
            class="io.leon.eclipseintegration.ui.leonwizard.LeonWizard"
            hasPages="true"
            icon="icons/leon16.gif"
            id="io.leon.eclipseintegration.ui.leonwizard"
            name="Leon Project"
            project="true">
      </wizard>
      <category
            id="io.leon.eclipseintegration.ui.category"
            name="Leon">
      </category>
   </extension>
   <extension
         id="leonnature"
         name="Leon Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="io.leon.eclipseintegration.ui.natures.LeonNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/leon8.gif"
            id="io.leon.eclipseintegration.ui.leonnatureimage"
            natureId="io.leon.eclipseintegration.ui.leonnature">
      </image>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="io.leon.eclipseintegration.ui.category"
            class="io.leon.eclipseintegration.ui.contentassist.LeonJavaScriptCompletionProposalComputer">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="io.leon.eclipseintegration.ui.toolbar"
               label="Leon">
            <command
                  commandId="io.leon.eclipseintegration.ui.newLeonJSProjectWizard"
                  icon="icons/leon16.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="io.leon.eclipseintegration.ui.leonwizard.NewLeonJSProjectWizard"
            commandId="io.leon.eclipseintegration.ui.newLeonJSProjectWizard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="io.leon.eclipseintegration.ui.category"
            id="io.leon.eclipseintegration.ui.newLeonJSProjectWizard"
            name="New Leon JS Project Wizard">
      </command>
      <category
            id="io.leon.eclipseintegration.ui.category"
            name="Leon">
      </category>
   </extension>

</plugin>
